@font-face {
    font-family: 'Vazir FD-UI';
    src: url('../font/Vazir-Regular-FD-UI.ttf');
}
@media only screen and (max-width: 991px) {
    .nav-item {
        width: 35%;
    }
}
body{
    direction: rtl;
    background-color: #EAF8FF;
}
.container-fluid{
    background-color: #A5D4DE;
    margin: 0 16px;
    padding: 0;
    border-radius: 10px;
}
ul{
    align-items: center;
    width: 100%;
    padding: 0;
}
a , a:visited , a:link{
    color: white;
    text-decoration: none;
}
.nav-item{
    background-color: #425C81;
    margin: 8px 8px;
    min-width: 5%;
    border-radius: 10px;
}
.nav-link{
    text-align: center;
    color: white;
    font-family: 'Vazir FD-UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    transition: all 0.3s ease-out;
    padding: 0.25rem;
}
.panel{
    background-color: white;
    border: 1px solid #425C81;
    border-radius: 4px;
}
h5{
    font-family: 'Vazir FD-UI', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #425C81;
}
.nav-panel{
    width: 90%;
    margin-bottom: 4px;
    margin-top: 4px;
}
a.link-panel{
    color: #5072A4;
}
.link-panel{
    background-color: #EAF8FF;
    border-radius: 4px;
    padding-left: 17%;
    padding-right: 17%;
    margin: 8px 4px 8px 4px;
}
a.zir-panel{
    font-family: 'Vazir FD-UI', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    color: #5072A4;
}
.dash-btn{
    width: 100%;
    border: none;
    color: white;
    padding: 0;
    margin: 0;
    border-radius: 8px;
}
.collapse{
    background-color: #425C81;
    border-radius: 8px;
}
#img\ 10 , #img\ 11{
    width: 5%;
}
.card{
    background: white;
    border: 1px solid #425C81;
    border-radius: 4px;
}
.panel-text{
    background: #FFFFFF;
    border: 1px solid #425C81;
    border-radius: 4px;;
    font-family: 'Vazir FD-UI', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    align-items: center;
}


