@font-face {
    font-family: 'Vazir FD-UI';
    src: url('../font/Vazir-Regular-FD-UI.ttf');
}
@media only screen and (max-width: 991px) {
    .nav-item {
        width: 35%;
    }
}
html{
    position: relative;
}
body{
    direction: rtl;
    background-color: #EAF8FF;
}
a , a:visited , a:link{
    color: white;
    text-decoration: none;
}
.login-page{
    border-top: 16px solid #425C81;
    border-bottom: 16px solid #425C81;
    border-right: 12px solid #425C81;
    border-left: 12px solid #425C81;
    border-radius: 6px;
    background-color: white;
    margin-top: 37px;
}
#enter{
    font-family: 'Vazir FD-UI', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #425C81;
}
.login-form{
    margin: 20px 16px 0 16px;
}
.reg-btn{
    background-color: #425C81;
    border-radius: 4px;
    margin: 0 16px 48px;
    padding: 12px;
    font-family: 'Vazir FD-UI', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: white;
}
.reg-btn:hover{
    background-color: #425C81;
    color: silver;
    transition: all 0.3s ease-out;
}
.b-left{
    position: absolute;
    bottom: 0;
    left: 0;
}
.b-right{
    position: absolute;
    bottom: 0;
    right: 0;
}